.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 39.375rem;
  height: 43rem;
  border-radius: 0.625rem;
  background: #fff;

  padding: 2rem 2rem 3rem 2rem;
  overflow: auto;
}
.modal-wrapper h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875rem;
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.75rem;
}

.close-modal1 {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.modal-wrapper .add-photo-modal1 {
  width: 14.8125rem;
  height: 2.25rem;
  flex-shrink: 0;
  background: #1d6154;
  color: #fff;
  margin-top: 40px;
}

.modal-wrapper .cta-img-modal1 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 18.5%);
  grid-column-gap: 0.50rem;
  grid-row-gap: 2rem;
  padding: 46px 0px 67.3px 0px;
  border-bottom: 2px solid;
  width: 80%;

}
.image-modal1 {
  min-width: 4.91419rem;
  max-height: 8.74156rem;
  width: 100%;
}
