.login {
  width: 100%;
  height: 100vh;
  background: #fffef8;
  z-index: 999;
}
.login_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  height: 1024px;
}
.login_title {
  display: flex;
  margin-bottom: 37px;
}
form {
  display: flex;
  flex-direction: column;
}

.title-label {
  color: #3d3d3d;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 6px;
}
input {
  width: 379px;
  height: 51px;
  flex-shrink: 0;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
}
.login-btn {
  margin: 7px 0px 28px 0px;
  width: 179px;
  height: 36px;
  flex-shrink: 0;
  background: #1d6154;
  color: #fff;
  border: none;
}
.mp-forget {
  color: #3d3d3d;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
